html, body, table{

}

.gameBoard{
    background-color: light-gray;
}

.gameBoard td {
    width: 48px;
    background-color: #25383C;
    /*background-image: url("images/rickhead.jpg");*/
    background-size: 48px 48px;
}

#legend{
    height: 56px;
    width: 480px;
}

#parent {
    text-align: left;
    width: 480px;
    height: 240px;
}

#parent table{
    width: 240px;
    height: 240px;
}

#parent td {
    width: 480px;
}

#shipStatus {
    float:left;
    width: 240px;
    height: 240px;
    padding-right: 0.5%;
}

#shipStatus td {
    background-image: url("images/mortyhead.png");
    background-size: 48px 48px;
    border: none
}

#shipStatus tr {

}

#MyBoard {
    width: 240px;
    height: 240px;
    overflow: hidden;
}

#TheirBoard {
    width: 480px;
    height: 480px;
}

#TheirBoard td {
    height: 48px;
}

.gameBoard table, th, td {
   border: 1px solid white;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.4em;
    background-image: url("images/galaxy-of-ricks.jpg");
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
}

footer {
    background-color: #25383c;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

footer button {
    margin-left: 5%;
    margin-right: 5%;
    float: right;
}

footer span {
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}

img {
    margin-left: 0;
    margin-right: auto;
}

/* Jake's styles */
whitetext {
    font: 20px 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    margin-left: auto;
    margin-right: 0;
    white-space:pre;
}

whitetext2 {
    font: 14px 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
}

whitetitle {
    font: 36px '', Verdana, sans-serif;
    color: white;
}

