html, body, table{

}

.gameBoard{
    background-color: light-gray;
}

.gameBoard td {
    width: 48px;
    height: 48px;
    background-color: #25383C;
    /*background-image: url("images/rickhead.jpg");*/
    background-size: 48px 48px;
}

#parent {
    text-align: left;
    width: 480px;
    height: 480px;
}

#parent table{
    width: 240px;
    height: 50%;
}

#parent td {
    width: 480px;
}

#shipStatus {
    width: 240px;
    height: 240px;
    padding-right: 0.5%;
}

#shipStatus td {
    background-image: url("images/mortyhead.png");
    background-size: 24px 24px;
    border: none
}

#shipStatus tr {

}

#MyBoard {
    width: 240px;
    height: 120px;
}

#TheirBoard {
    width: 480px;
    height: 480px;
}

.gameBoard table, th, td {
   border: 1px solid white;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.4em;
    background-image: url("images/galaxy-of-ricks.jpg");
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
}

footer {
    background-color: #25383c;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

footer button {
    margin-left: 5%;
    margin-right: 5%;
    float: right;
}

footer span {
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}

img {
    margin-left: 0;
    margin-right: auto;
    height: 15%;
    width:  35%;
    display: none;
}

/* Jake's styles */
whitetext {
    font: 16px 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    margin-left: auto;
    margin-right: 0;
}

whitetext2 {
    font: 14px 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
}
whitetitle {
    font: 20px '', Verdana, sans-serif;
    color: white;
}
